.course-info-container {
  display: flex;
  background-color: #EFF5F3;
  justify-content: space-between;
}

.course-title-container {
  padding-left: 100px;
}

.course-title {
  width: 428px;
  height: 148px;
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 600;
  line-height: 78.02px;
  text-align: left;
}

.course-tag-line {
  width: 424px;
  height: 81px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: left;
  color: #737373;
}

.course-btn-container {
  display: flex;
}

.v-lab-btn {
  background-color: #6FCD58;
  width: 186px;
  height: 86px;
  padding: 24px 36px 24px 36px;
  border-radius: 10px;
  border: 1px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 39.01px;
  text-align: left;
  border: 1px solid #000000;
}

.enroll-btn {
  display: flex;
  width: 274px;
  height: 86px;
  border-radius: 10px;
  border: 1px;
  padding: 24px 36px 24px 56px;
  background-color: #5FA2D3;
  border: 1px solid #000000;
}

.enroll-btn-text {
  width: 100px;
  height: 38px;
  font-family: Montserrat;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 39.01px;
  color: #000000;
}

.enroll-btn-img {
  width: 46px;
  height: 40px;
  padding: 5.75px;
}

.chat-ai-btn {
  width: 247px;
  padding: 4px 46px 8px 38px;
  border-radius: 100px;
}

.course-defination-question,
.future-scope-course-title,
.course-overview-title {
  display: inline-block;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 45px;
  text-align: center;
}

.course-defination,
.future-scope-course-content {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #6D6C6C;
  width: 519px;
}

.course-overview-btn {
  width: 237px;
  height: 86px;
  padding: 15px 42px 15px 41px;
  border-radius: 10px;
  border: 1px;
  background-color: #91E5EA;
  border: 1px solid #000000;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
}