.navbar{
  border-bottom: 1px solid black;
  background: radial-gradient(50% 50% at 50% 50%, rgba(207, 237, 228, 0.09) 0%, rgba(122, 158, 251, 0.2) 100%);
}

.left-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  width: 60px;
  height: auto;
}

.logo-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 45px;
  text-align: center;
  background: linear-gradient(90deg, #1E3C72 0%, #2A5298 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.menu-icon{
  font-size: 30px;
  color: #1E3C72;
  cursor: pointer;
  margin: 0px 10px 0px 20px;
}

.fas{
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
}

/* side-menu-bar-styles */

.side-menu-bar{
  width: 230px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.7s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateX(-100%); /* Hidden state - slide out of view */
  opacity: 0;
}

.side-menu-bar.visible {
  transform: translateX(0); /* Slide into view */
  opacity: 1;
}

.top-upper-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(95, 94, 94);
}
.side-menu-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-back-btn-img{
  width: 16px;
  height: auto;
}

.logo-image-side-menu{
  width: 40px;
  height: auto;
}

.logo-text-side-menu{
  font-family: cursive;
  color: black;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
  text-align: center;
  background: linear-gradient(90deg, #1E3C72 0%, #2A5298 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.top-lower-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  height: 180px;
  padding-right: 60px;
  text-align: left;
}

.bottom-section{
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}

.side-menu-bar-element{
  width: 100px;
  font-family: cursive;
  font-size: 20px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.custom-link{
  text-decoration: none;
}

.skillsphere-txt{
  color: black;
}

.side-menu-bar-element:hover{
  color: blue;
  font-size: 22px;
}

.skillsphere-txt:hover{
  font-size: 26px;
}

.menu-back-btn-img:hover{
  width: 20px;
  height: auto;
}

.side-menu-bar-element-LogOut:hover{
  color: red;
}
